/* line 4, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 10, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  /* line 17, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  html .wall-container,
  body .wall-container {
    width: 100%;
    height: 100%; }
    /* line 21, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    html .wall-container .left,
    html .wall-container .right,
    body .wall-container .left,
    body .wall-container .right {
      width: 50%;
      height: 100%;
      display: inline-block;
      position: relative;
      float: left;
      overflow: auto; }
      @media (max-width: 991px) {
        /* line 21, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
        html .wall-container .left,
        html .wall-container .right,
        body .wall-container .left,
        body .wall-container .right {
          width: 100%;
          display: block;
          float: none; } }
    /* line 32, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    html .wall-container .left,
    body .wall-container .left {
      background: #1EBC9D;
      opacity: 83; }
      @media (max-width: 991px) {
        /* line 32, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
        html .wall-container .left,
        body .wall-container .left {
          display: none; } }
      /* line 37, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .left .center-content,
      body .wall-container .left .center-content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        @media (max-height: 465px) {
          /* line 37, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .left .center-content,
          body .wall-container .left .center-content {
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: none;
            transform: none; } }
        /* line 50, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
        html .wall-container .left .center-content .welcome-text,
        body .wall-container .left .center-content .welcome-text {
          width: 100%;
          margin: 0 auto;
          text-align: center; }
          /* line 54, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .left .center-content .welcome-text h1,
          body .wall-container .left .center-content .welcome-text h1 {
            font-size: 25px;
            color: #fafafa;
            margin: 25px 0 0 50px;
            font-weight: 300; }
      /* line 59, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .left .blockquote,
      body .wall-container .left .blockquote {
        position: absolute;
        bottom: 15px;
        width: 100%;
        text-align: center; }
        /* line 64, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
        html .wall-container .left .blockquote h3,
        body .wall-container .left .blockquote h3 {
          font-weight: 300;
          color: #fafafa;
          font-size: 22px; }
          /* line 68, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .left .blockquote h3 p,
          body .wall-container .left .blockquote h3 p {
            font-size: 17px;
            margin-top: 5px; }
    /* line 71, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    html .wall-container .logo-holder,
    body .wall-container .logo-holder {
      position: relative;
      display: block;
      text-align: center; }
      /* line 75, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .logo-holder img,
      body .wall-container .logo-holder img {
        width: inherit; }
        @media (max-width: 500px) {
          /* line 75, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .logo-holder img,
          body .wall-container .logo-holder img {
            width: 180px; } }
    /* line 80, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    html .wall-container .right,
    body .wall-container .right {
      background: #404856;
      opacity: 85; }
      /* line 84, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .right .login,
      html .wall-container .right .register,
      body .wall-container .right .login,
      body .wall-container .right .register {
        margin-top: 125px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out; }
      /* line 88, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .right .register,
      body .wall-container .right .register {
        display: none; }
      /* line 90, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .right .center-content,
      body .wall-container .right .center-content {
        display: none;
        width: 100%;
        position: relative;
        top: 30px;
        text-align: center; }
        @media (max-width: 991px) {
          /* line 90, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right .center-content,
          body .wall-container .right .center-content {
            display: block; } }
      /* line 98, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .right .middle,
      body .wall-container .right .middle {
        width: 460px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        @media (max-width: 991px) {
          /* line 98, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right .middle,
          body .wall-container .right .middle {
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: none;
            transform: none; } }
        @media (max-width: 500px) {
          /* line 98, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right .middle,
          body .wall-container .right .middle {
            width: 300px;
            margin-top: 30px; } }
        @media (max-height: 465px) {
          /* line 98, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right .middle,
          body .wall-container .right .middle {
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: none;
            transform: none; } }
      /* line 123, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      html .wall-container .right h1,
      body .wall-container .right h1 {
        margin: 125px 0 0 0;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        color: #1EBC9D;
        position: relative;
        z-index: 199; }
        @media (max-height: 635px) {
          /* line 123, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right h1,
          body .wall-container .right h1 {
            margin: 50px 0 0 0; } }
        @media (max-width: 500px) {
          /* line 123, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right h1,
          body .wall-container .right h1 {
            margin: 80px 0 0 0;
            font-size: 20px; } }
        /* line 138, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
        html .wall-container .right h1 span,
        body .wall-container .right h1 span {
          cursor: pointer;
          padding-bottom: 10px;
          font-size: 22px;
          color: #1EBC9D;
          -webkit-transition: .3s;
          transition: .3s; }
          @media (max-width: 500px) {
            /* line 138, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
            html .wall-container .right h1 span,
            body .wall-container .right h1 span {
              font-size: 17px; } }
          /* line 147, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right h1 span:first-of-type,
          body .wall-container .right h1 span:first-of-type {
            margin-right: 10px; }
          /* line 149, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right h1 span:nth-of-type(2),
          body .wall-container .right h1 span:nth-of-type(2) {
            margin-left: 10px; }
          /* line 151, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          html .wall-container .right h1 span.active,
          body .wall-container .right h1 span.active {
            border-bottom: 3px solid #1EBC9D; }

/* line 156, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
#fancy-inputs {
  float: left;
  width: 100%;
  margin: 0 0 50px 0; }
  /* line 160, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  #fancy-inputs label.input.half {
    width: 50%;
    clear: none; }
  /* line 163, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  #fancy-inputs label.input {
    float: left;
    width: 100%;
    height: 42px;
    margin: 50px 0 0 0;
    position: relative;
    clear: both; }
    @media (max-width: 500px) {
      /* line 163, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      #fancy-inputs label.input {
        margin: 35px 0 0 0; } }
    /* line 172, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-inputs label.input span {
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: absolute;
      left: 0;
      cursor: text; }
      /* line 179, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      #fancy-inputs label.input span span {
        position: absolute;
        top: 0;
        z-index: 1;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        color: #fff;
        text-indent: 10px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s; }
        @media (max-width: 500px) {
          /* line 179, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
          #fancy-inputs label.input span span {
            font-size: 16px; } }
      /* line 192, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      #fancy-inputs label.input span:before {
        content: '';
        width: 0%;
        height: 3px;
        background-color: #1EBC9D;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s; }
      /* line 204, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      #fancy-inputs label.input span:after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: #1EBC9D;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s; }
  /* line 216, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  #fancy-inputs input {
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid #303640;
    background-color: transparent;
    color: #C7F7ED;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    position: relative;
    z-index: 99; }
    /* line 229, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-inputs input:focus {
      outline: 0; }
    /* line 231, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-inputs input.white {
      background-color: #495260; }
    /* line 234, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-inputs input:focus + span span {
      cursor: initial;
      position: absolute;
      top: -35px;
      color: #1EBC9D; }
    /* line 239, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-inputs input:focus + span:before, #fancy-inputs input:focus + span:after {
      width: 50%; }
  /* line 241, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  #fancy-inputs span.fixed span {
    top: -35px; }

/* line 244, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
#fancy-radio {
  float: left;
  width: 100%;
  margin: 0 0 30px 0; }
  /* line 248, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  #fancy-radio label.radio {
    float: left;
    width: auto;
    line-height: 30px;
    margin: 0 0 10px 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    clear: both;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; }
    @media (max-width: 500px) {
      /* line 248, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
      #fancy-radio label.radio {
        font-size: 17px; } }
    /* line 264, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-radio label.radio:before {
      content: '';
      float: left;
      width: 29px;
      height: 29px;
      margin: 0 5px 0 0;
      background-color: #333943;
      border-radius: 100%;
      font-size: 22px;
      text-indent: 40px; }
    /* line 274, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-radio label.radio:after {
      content: '';
      width: 5px;
      height: 5px;
      background-color: #1EBC9D;
      border-radius: 100%;
      position: absolute;
      top: 12px;
      left: 12px;
      opacity: 0;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s; }
    /* line 287, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-radio label.radio.selected:after {
      width: 15.5px;
      height: 15.5px;
      top: 7px;
      left: 7px;
      opacity: 1; }
    /* line 293, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
    #fancy-radio label.radio:hover {
      text-indent: 5px; }

/* line 296, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
.btn {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 0 50px 0;
  background-color: #1EBC9D;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s; }
  /* line 311, /Users/sawyerbateman/Projects/MRM-Training/Pages/School/users/assets/styles/login-wall.sass */
  .btn:hover {
    background-color: #1aa287; }

/*# sourceMappingURL=login-wall.css.map */
